body{
    margin-left: 100px;
    margin-right: 100px;
    background-color: black;
}
header{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 170px;
}
nav ul{
    list-style:none;
    display: flex;
    column-gap: 30px;
}
nav ul li a{
    font-size: 10px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li a:hover{
    color: #bfc500;
}
nav ul li{
    transition-property: all;
    transition-duration: 0.2s;
    transition-delay:0.1s;
    transition-timing-function: ease-in-out;
}
nav ul li:hover{
    transform: scale(1.2);
}
.sec-1 img {
    width: 100%;
}
.sec-2{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.sec-2 .mon4{
    display: flex;
    column-gap: 14px;
}
.sec-2 .head p{
    word-spacing: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
    opacity: 0.5;
}
.sec-2 .head {
    font-size: 20px;
    font-weight: 900;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
 .mon4 span img{
    width: 150px;
 } 
.hed1 h1{
    color: #bfc500;
    font-family: Arial, Helvetica, sans-serif;
}
.hed1 p{
color: white;
font-family: Arial, Helvetica, sans-serif;
word-spacing: 3px;
}
.not p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 3px;
}
.not{
display: flex;
justify-content: space-between
}
.no p{
    font-size: 12px;
    font-weight: 80;
    opacity: 0.5;
 
}
.para p{
    color: black;
 
}
.sec-4 h1{
    color: black;
    padding-left:50px;
    font-weight: bold;
}
.sec-4{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    border-bottom: 1px solid white;
   background-color: #bfc500;
}
.sec-4 .but{
padding-right:50px ;
 
}
.sec-4 .but button:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}
.sec-4 .but button{
    font-weight: bold;
    border: none;
    text-align: center;
    width: 200px;
    height: 75px;
    color: #bfc500;
    background-color: black;
    border-radius: 10px;
}
.sec-4 h1{
   align-self: center;
}
.sec-5{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    border-bottom: 1px solid white;
}
.sec-5 .para2 h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 27px;
}
.sec-5 .para2 span{
    color: #bfc500;
    text-decoration: underline;
}
.sec-5 .para2 p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    word-spacing: 3px;
    line-height: 20px;
}
.sec-5 .mon23 img{
 width: 340px;
}
.sec-6{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.sec-6 h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
}
.sec-6 p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    word-spacing: 3px;
    line-height: 25px;
}
.mon0 ul{

    display: flex;
    list-style: none;
 justify-content: space-evenly;
}
.mon0 ul li img{
    width: 100px;
}
.mon0 ul li{
    align-self: center;
    font-weight: 100;
    font-size: 12px;
    color: white;
}
.mon0 ul li span{
    opacity: 0.5;
}
.sec-7{
display: flex;
justify-content: space-between;
padding-top: 30px;
border-bottom: 1px solid white;
}
.sec-7 h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}
.sec-7 p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 6px;
}
.mon9 img{
    width: 162px;
}
.sec-8 .para5 h1{
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.sec-8 .para5 p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.sec-9{
    display: flex;
    justify-content: space-between;
}
.sec-9 .para9 {
    display: flex;
    column-gap: 40px;
}
.sec-9 .para9 h1{
    color:white;
    font-size: 16px;
    color: #bfc500;
}
.sec-9 .para9 p{
    text-decoration: line-through;
   color: white;
   align-self: center;
   font-family: Arial, Helvetica, sans-serif;
}
.sec-9 .para10{
    display: flex;
    column-gap: 40px;
}
.sec-9 .para10 h1{
    color:white;
    font-size: 16px;
    color: #bfc500;
}
.sec-9 .para10 p{
    text-decoration: line-through;
   color: white;
   align-self: center;
   font-family: Arial, Helvetica, sans-serif;
}
.sec-9 .para11{
    display: flex;
    column-gap: 40px;
}
.sec-9 .para11 h1{
    color:white;
    font-size: 16px;
    color: #bfc500;
}
.sec-9 .para11 p{
    text-decoration: line-through;
   color: white;
   align-self: center;
   font-family: Arial, Helvetica, sans-serif;
}
.sec-9 .para12{
    display: flex;
    column-gap: 40px;
}
.sec-9 .para12 h1{
    color:white;
    font-size: 16px;
    color: #bfc500;
}
.sec-9 .para12 p{
    text-decoration: line-through;
   color: white;
   align-self: center;
   font-family: Arial, Helvetica, sans-serif;
}
.sec-9 .para13{
    display: flex;
    column-gap: 40px;
}
.sec-9 .para13 h1{
    color:white;
    font-size: 16px;
    color: #bfc500;
}
.sec-9 .para13 p{
    text-decoration: line-through;
   color: white;
   align-self: center;
   font-family: Arial, Helvetica, sans-serif;
}
.sec-9 .para14{
    display: flex;
    column-gap: 40px;
}
.sec-9 .para14 h1{
    color:white;
    font-size: 16px;
    color: #bfc500;
}
.sec-9 .para14 p{
    text-decoration: line-through;
    color: white;
   align-self: center;
   font-family: Arial, Helvetica, sans-serif;
}
.sec-9 .para15{
    display: flex;
    column-gap: 40px;
}
.sec-9 .para15 h1{
    color:white;
    font-size: 16px;
    color: #bfc500;
}
.sec-9 .para15 p{
    text-decoration: line-through;
   color: white;
   align-self: center;
   font-family: Arial, Helvetica, sans-serif;
}
.sec-9 .pic img{
    height: 350px;
    background-color: #bfc500;
}








